## Kaggle dataset : Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
from flask import Flask

In [2]:
# Load the dataset
data = pd.read_csv('new_Data1.csv')
data.head(5)

,Breed,Country of Origin,Fur Color,Height,Color of Eyes,Age,Character Traits,Health_Problems
0,Miniature Schnauzer,Germany,"Black, Salt & Pepper, White",14-Dec,Brown,15-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, pancreatitis, diabetes"
1,West Highland White Terrier,Scotland,White,12-Nov,Brown,16-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
2,Golden Retriever,Scotland,Gold,21-24,Brown,14-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"
3,Borzoi,Russia,"White, Cream, Red",26-29,Brown,12-Oct,"Gentle, good-natured, loyal, intelligent","Dental problems, eye issues, skin allergies"
4,Belgian Malinois,Belgium,"Fawn, Mahogany",22-26,Brown,14-Dec,"Intelligent, energetic, loyal, protective","Hip dysplasia, eye problems, skin allergies"

In [3]:
data.drop(['Country of Origin', 'Fur Color','Color of Eyes'], axis=1,inplace=True)

In [4]:
data.head(10)

,Breed,Height,Age,Character Traits,Health_Problems
0,Miniature Schnauzer,14-Dec,15-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, pancreatitis, diabetes"
1,West Highland White Terrier,12-Nov,16-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
2,Golden Retriever,21-24,14-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"
3,Borzoi,26-29,12-Oct,"Gentle, good-natured, loyal, intelligent","Dental problems, eye issues, skin allergies"
4,Belgian Malinois,22-26,14-Dec,"Intelligent, energetic, loyal, protective","Hip dysplasia, eye problems, skin allergies"
5,Pomeranian,07-Jun,16-Dec,"Playful, energetic, intelligent, good-natured","Dental problems, eye problems, obesity"
6,Great Dane,28-34,10-Aug,"Gentle, loyal, intelligent, good-natured","Hip dysplasia, cancer, heart conditions"
7,Beagle,13-15,15-Dec,"Curious, friendly, energetic, good-natured","Ear infections, hip dysplasia, epilepsy"
8,Border Terrier,16-Oct,16-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
9,Cocker Spaniel,14-15,15-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"

In [5]:
#converting the range values to average 
def midpoint(value):
    try:
        val_min, val_max = map(int, value.split('-'))
        return (val_min + val_max) / 2
    except:
        return value
    

#Handling the string range values and 
def ignoreMonth(value):
    if isinstance(value, float):
        return value
    else:
        value = str(value)
        value = value.split('-')[0]
        return value

In [6]:
data['Height'] = data['Height'].apply(midpoint)
data['Height'] = data['Height'].apply(ignoreMonth)
data.head(10)

,Breed,Height,Age,Character Traits,Health_Problems
0,Miniature Schnauzer,14,15-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, pancreatitis, diabetes"
1,West Highland White Terrier,12,16-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
2,Golden Retriever,22.5,14-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"
3,Borzoi,27.5,12-Oct,"Gentle, good-natured, loyal, intelligent","Dental problems, eye issues, skin allergies"
4,Belgian Malinois,24.0,14-Dec,"Intelligent, energetic, loyal, protective","Hip dysplasia, eye problems, skin allergies"
5,Pomeranian,07,16-Dec,"Playful, energetic, intelligent, good-natured","Dental problems, eye problems, obesity"
6,Great Dane,31.0,10-Aug,"Gentle, loyal, intelligent, good-natured","Hip dysplasia, cancer, heart conditions"
7,Beagle,14.0,15-Dec,"Curious, friendly, energetic, good-natured","Ear infections, hip dysplasia, epilepsy"
8,Border Terrier,16,16-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
9,Cocker Spaniel,14.5,15-Dec,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"

In [7]:
#converting the range values to average 
data['Age'] = data['Age'].apply(midpoint)

data['Age'] = data['Age'].apply(ignoreMonth)
data.head(10)

,Breed,Height,Age,Character Traits,Health_Problems
0,Miniature Schnauzer,14,15,"Intelligent, energetic, playful, good-natured","Dental problems, pancreatitis, diabetes"
1,West Highland White Terrier,12,16,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
2,Golden Retriever,22.5,14,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"
3,Borzoi,27.5,12,"Gentle, good-natured, loyal, intelligent","Dental problems, eye issues, skin allergies"
4,Belgian Malinois,24.0,14,"Intelligent, energetic, loyal, protective","Hip dysplasia, eye problems, skin allergies"
5,Pomeranian,07,16,"Playful, energetic, intelligent, good-natured","Dental problems, eye problems, obesity"
6,Great Dane,31.0,10,"Gentle, loyal, intelligent, good-natured","Hip dysplasia, cancer, heart conditions"
7,Beagle,14.0,15,"Curious, friendly, energetic, good-natured","Ear infections, hip dysplasia, epilepsy"
8,Border Terrier,16,16,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia"
9,Cocker Spaniel,14.5,15,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies"

In [8]:
# data = data.drop(['Color of Eyes'], axis=1)
# data.head(5)

In [9]:

data['Weight'] = np.random.normal(loc=22, scale=10, size=len(data))
data['Weight'] = data['Weight'].round(1)

In [10]:
data.isnull().sum()

Breed               0
Height              0
Age                 0
Character Traits    0
Health_Problems     0
Weight              0
dtype: int64

In [11]:
data.shape
data.head(5)

,Breed,Height,Age,Character Traits,Health_Problems,Weight
0,Miniature Schnauzer,14,15,"Intelligent, energetic, playful, good-natured","Dental problems, pancreatitis, diabetes",12.3
1,West Highland White Terrier,12,16,"Intelligent, energetic, playful, good-natured","Dental problems, skin allergies, hip dysplasia",15.4
2,Golden Retriever,22.5,14,"Intelligent, energetic, playful, good-natured","Dental problems, eye issues, skin allergies",40.4
3,Borzoi,27.5,12,"Gentle, good-natured, loyal, intelligent","Dental problems, eye issues, skin allergies",36.5
4,Belgian Malinois,24.0,14,"Intelligent, energetic, loyal, protective","Hip dysplasia, eye problems, skin allergies",27.5

In [24]:
# Saving the cleaned dataset
data.to_csv('Data3.csv', index=False)

## Web Scraped Data : Data Preprocessing

In [13]:
# Load the dataset
data1 = pd.read_csv('new_Data2.csv')
data1.shape
data1.head(5)

,Unnamed: 0,description,temperament,popularity,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,...,grooming_frequency_value,grooming_frequency_category,shedding_value,shedding_category,energy_level_value,energy_level_category,trainability_value,trainability_category,demeanor_value,demeanor_category
0,Curly-Coated Retriever,"The Curly-Coated Retriever’s tight, crisp curl...","Confident, Proud, Wickedly Smart",162,58.42,68.58,27.215542,43.091275,10.0,12.0,...,0.2,Occasional Bath/Brush,0.4,Occasional,0.8,Energetic,0.4,Independent,0.4,Reserved with Strangers
1,Basset Fauve de Bretagne,"The Basset Fauve de Bretagne, also known as th...","Smart, Cheerful, Determined",NaN,31.75,39.37,12.246994,15.875733,12.0,12.0,...,0.4,Weekly Brushing,0.6,Seasonal,0.6,Regular Exercise,0.2,May be Stubborn,1.0,Outgoing
2,Bolognese,"The Bolognese is small, stocky, and squarely b...","Playful, Easy-Going, Devoted",NaN,25.40,30.48,2.494758,4.082331,12.0,14.0,...,0.6,2-3 Times a Week Brushing,0.2,Infrequent,0.4,Calm,0.6,Agreeable,0.8,Friendly
3,Rat Terrier,"Balanced, compactly built Rat Terriers are tou...","Friendly, Inquisitive, Lovable",86,25.40,45.72,4.535924,11.339809,12.0,18.0,...,0.4,Weekly Brushing,0.6,Seasonal,0.6,Regular Exercise,0.8,Easy Training,0.8,Friendly
4,Bull Terrier,"Bull Terriers are robust, big-boned terriers w...","Playful, Charming, Mischievous",62,53.34,55.88,22.679619,31.751466,12.0,13.0,...,0.4,Weekly Brushing,0.6,Seasonal,0.8,Energetic,0.4,Independent,0.8,Friendly

In [14]:
# Renaming columns 
data1 = data1.rename(columns={'Unnamed: 0': 'Breed'})
data1 = data1.rename(columns={'temperament': 'Character Traits'})

In [15]:
# Removing unwanted columns
data1.drop(data1.columns[10:], axis=1, inplace=True)
data1.drop(['description', 'popularity'], axis=1,inplace=True)
data1.head(5)

,Breed,Character Traits,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy
0,Curly-Coated Retriever,"Confident, Proud, Wickedly Smart",58.42,68.58,27.215542,43.091275,10.0,12.0
1,Basset Fauve de Bretagne,"Smart, Cheerful, Determined",31.75,39.37,12.246994,15.875733,12.0,12.0
2,Bolognese,"Playful, Easy-Going, Devoted",25.40,30.48,2.494758,4.082331,12.0,14.0
3,Rat Terrier,"Friendly, Inquisitive, Lovable",25.40,45.72,4.535924,11.339809,12.0,18.0
4,Bull Terrier,"Playful, Charming, Mischievous",53.34,55.88,22.679619,31.751466,12.0,13.0

In [16]:
# Calculating Height and dropping some columns
data1 = data1.assign(Height=(data1['min_height'] + data1['max_height'])/2)
data1.drop(['min_height', 'max_height'], axis=1,inplace=True)
data1.head(5)

,Breed,Character Traits,min_weight,max_weight,min_expectancy,max_expectancy,Height
0,Curly-Coated Retriever,"Confident, Proud, Wickedly Smart",27.215542,43.091275,10.0,12.0,63.50
1,Basset Fauve de Bretagne,"Smart, Cheerful, Determined",12.246994,15.875733,12.0,12.0,35.56
2,Bolognese,"Playful, Easy-Going, Devoted",2.494758,4.082331,12.0,14.0,27.94
3,Rat Terrier,"Friendly, Inquisitive, Lovable",4.535924,11.339809,12.0,18.0,35.56
4,Bull Terrier,"Playful, Charming, Mischievous",22.679619,31.751466,12.0,13.0,54.61

In [17]:
# Calculating Weight and dropping some columns
data1 = data1.assign(Weight=(data1['min_weight'] + data1['max_weight'])/2)
data1.drop(['min_weight', 'max_weight'], axis=1,inplace=True)
data1.head(5)

,Breed,Character Traits,min_expectancy,max_expectancy,Height,Weight
0,Curly-Coated Retriever,"Confident, Proud, Wickedly Smart",10.0,12.0,63.50,35.153409
1,Basset Fauve de Bretagne,"Smart, Cheerful, Determined",12.0,12.0,35.56,14.061363
2,Bolognese,"Playful, Easy-Going, Devoted",12.0,14.0,27.94,3.288545
3,Rat Terrier,"Friendly, Inquisitive, Lovable",12.0,18.0,35.56,7.937866
4,Bull Terrier,"Playful, Charming, Mischievous",12.0,13.0,54.61,27.215542

In [18]:
# Calculating Age and dropping some columns
data1 = data1.assign(Age=(data1['min_expectancy'] + data1['max_expectancy'])/2)
data1.drop(['min_expectancy', 'max_expectancy'], axis=1,inplace=True)
data1.head(5)

,Breed,Character Traits,Height,Weight,Age
0,Curly-Coated Retriever,"Confident, Proud, Wickedly Smart",63.50,35.153409,11.0
1,Basset Fauve de Bretagne,"Smart, Cheerful, Determined",35.56,14.061363,12.0
2,Bolognese,"Playful, Easy-Going, Devoted",27.94,3.288545,13.0
3,Rat Terrier,"Friendly, Inquisitive, Lovable",35.56,7.937866,15.0
4,Bull Terrier,"Playful, Charming, Mischievous",54.61,27.215542,12.5

In [19]:
data1[['Age', 'Weight']] = data1[['Age', 'Weight']].fillna(data1[['Age', 'Weight']].mean())

In [20]:
# Saving the cleaned dataset
data1.to_csv('Data2.csv', index=False)

In [21]:
data1.shape

(5300, 5)